@charset "utf-8";

@media screen and (min-width:600px) and (max-width: 992px) {
    html, body{
        height: 100vh;
    }
    body{
        background-image:url(../imagens/back-tablet.jpg);
        background-position:center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    main{
        margin:10px auto auto auto;
        background-color: #ffffffa2;
        width:90vw;
        padding:10px;
        border-radius:10px;
     }
     h1{
        text-align: center;
     }
    #tel,
    #pc,
    #print,
    #tv{
        display: none;
    }
    #icon-tablet{
        display: block;
        margin: auto;
    }
}

@media screen and (min-width:992px) and (max-width: 1200px) {
    html, body{
        height: 100vh;
    }
    body{
        background-image:url(../imagens/back-pc.jpg);
        background-position:center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    main{
        margin:10px auto auto auto;
        background-color: #ffffffa2;
        width:90vw;
        padding:10px;
        border-radius:10px;
     }
     h1{
        text-align: center;
     }
    #tel,
    #icon-tablet,
    #print,
    #tv{
        display: none;
    }
    #pc{
        display: block;
        margin: auto;
    }
}

@media screen and (min-width:1200px){
    html, body{
        height: 100vh;
    }
    body{
        background-image: url(../imagens/back-tv.jpg);
        background-position:center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    main{
        margin:10px auto auto auto;
        background-color: #ffffffa2;
        width:90vw;
        padding:10px;
        border-radius:10px;
     }
     h1{
        text-align: center;
     }
    #tel,
    #pc,
    #icon-tablet,
    #print
    {
        display: none;
    }
    #tv{
        display: block;
        margin: auto;
    }
}

