@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}

@media screen and(max-width:320px)and (orientation:portrait) {
    header{
        padding: 20px;
        background-color:lightgray;
        display: flex;
        justify-content:space-between;
        flex-flow: row wrap;
    }
   .menu{
     list-style: none;
     display: flex;
     justify-content: center;
     flex-flow: row wrap;
     
   }
   .menu li{
    display: flex;
    margin: 5px;
    padding: 2px;
    
   }
    a{
    padding: 5px;
    text-decoration: none;
    color:#fff;
    background-color:#000;
    border-radius: 10px;
    margin-bottom:10px;
   }
   .texto{
    margin-bottom:10px;
   }
    
}
